@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper__welcome {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #daa520;
}

.button__action {
    display: none;
    margin-top: 25px;
}

.button__scroll {
    text-decoration: none;
}

.button__scroll-text {
    font-family: "Inconsolata", monospace;
    color: rgba(28,28,30,1);
}

.button__action:hover .button__scroll-box {
    animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
    0%, 100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

.wrapper__image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper__text {
    font-size: 1.4em;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    color: #fff;
    cursor: default;
}

.wrapper__text--space {
    padding: 10px;
    margin-top: 45px;
    background-color: #252525;
}

.wrapper__text--box {
    padding: 10px;
    margin-top: 25px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    background-color: #EBEDED;
}

.wrapper__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    width: 100%;
}

.wrapper__dates {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 3px solid #daa520;
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 25px;
    box-shadow: 0px 3px 3px #daa520;
}

.wrapper__date {
    font-size: 1.3em;
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    color: #daa520;
    cursor: default;
}

.title {
    padding: 1em;
    max-width: 600px;
    text-align: center;
    font-size: 3.2em;
    font-weight: 400;
    font-family: "Inconsolata", monospace;
    text-transform: uppercase;
}

.wrapper__buttons {
    display: inherit;
    flex-flow: column;
}

.button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #daa520;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #daa520;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #daa520;
    ;
}

    .button:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #daa520;
    }

    .button:active {
        transform: scale(0.9);
    }


.hidden {
    display: hidden;
}
